/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* !BASE STYLES/RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Primary Colors */
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);

    /* Neutral Colors */
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);

    /* Font size */
    --Inter-font: 'Inter', 'sans-serif';
    --font-size: 15px;
}

/* Basic reset */
a {
    text-decoration: none;      /* It removes the hiperlink */
    color: inherit;
    outline: none;
}

img {
    max-width: 100%;            /* The images is not going to overflow its parent */
    display: block; 
}

ul {
    list-style: none;
}

span {
    display: inline-block;
}

body {
    font-family: var(--Inter-font);
    font-size: var(--font-size);
}

.container {
    max-width: 23.5rem;             /* Which is 376 pixels */  
    margin: 0 auto;                 
    padding: 1rem;

    outline: 2px solid black;
}


/* Header */
.logo {
    width: 100%;
    height: auto;
}

.menu {
    display: none;
}

.list-link {
    color: var(--dark-grayish-blue);
    font-weight: 400;
}

/* Hero section */ /*
.hero {
    display: grid;
    grid-area: 1fr 1fr 1fr;
    gap: 30px;
}
*/
/* Maybe I don't need to diplay a grid in the Hero section */

.main-title {
    color: var(--very-dark-blue);
    font-size: 2.6rem;    
    line-height: 2.6rem;

    margin-bottom: 1rem;
}

.hero__paragraph {
    color: var(--dark-grayish-blue);
    line-height: 1.5rem;
}

.orangeButton {
    border: none;
    color: var(--off-white);
    background-color: var(--soft-red);

    text-transform: uppercase;
    letter-spacing: .2rem;
    padding: 1rem;
}

/* Aside styles */
.aside {
    background-color: var(--very-dark-blue);
    color: var(--off-white);
    padding: 1.25rem;
}

.aside__card {
    margin: 2.5rem 0;
}

.aside__title {
    color: var(--soft-orange);
    font-size: 1.5rem;
}

.aside__subtitle {
    font-size: 1.2rem;
    font-weight: 700;
}

.aside__paragraph {
    color: var(--grayish-blue);
    font-weight: 400;
    line-height: 1.5rem;
}

.aside__card::after(:last-child) {
    border: 1px solid var(--off-white);
}

/* ReadMore section */
.readMore {
    display: flex;
    flex-direction: column;

    margin: 4rem 0; 
} 

.card {
    max-width: 20.625rem;

    display: grid;
    grid-template-columns: 1fr 2fr;   
    column-gap: 1.5rem;

    margin: 1.2rem 0;
}

.content {
    margin-top: -.5rem;
}

.number {
    color: var(--grayish-blue);
    font-size: 2rem;
    font-weight: 700;
}

.readMore__title {
    color: var(--very-dark-blue);
    margin-top: 1rem;
}

.readMore_paragraph {
    color: var(--dark-grayish-blue);            /* I am pretty sure this is not the paragraph color */
    line-height: 1.5rem;
    margin-top: 1rem;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 1440px;
        max-height: 810px;

        margin: 2rem;
        padding: 0;
    }

    .header {
        max-width: 1440px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    .list {
        display: flex;        
    }

    .list-item {
      
        padding: 0 2rem;
    }

    .menu { 
        display: inline-flex;
    }


    .hero {
        max-width: 728px;
        max-height: 510px;

        display: grid;
        gap: 10px;
    }

    /* Grid Layout */
    .image-container {
        width: 800px;        

        grid-row-start: 1;
        grid-row-end: 3;

        grid-column-start: 1;
        grid-column-end: 3;
    }

    .main-title {
        font-size: 4rem;
        line-height: 4rem;

        margin-right: 1rem;

        grid-row-start: 3;
        grid-row-end: 5;

        grid-column-start: 1;
        grid-column-end: 2;
    }

    .hero__paragraph {
        grid-row-start: 3;
        grid-row-end: 4;

        grid-column-start: 2;
        grid-column-end: 3;
    }

    .orangeButton {
        grid-row-start: 4;
        grid-row-end: 5;

        grid-column-start: 2;
        grid-column-end: 3;

        padding: 10px 20px;
    }

    .aside{
        width: 350px;
        height: 510px;
        margin-left: 30px;

        grid-row-start: 1;
        grid-row-end: 5;

        grid-column-start: 3;
        grid-column-end: 4;
    }

    .aside__title {
        font-size: 2.5rem;
    }

    .readMore {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
